<%= image_tag "bitpages_logo.png" %>
<hr style="width: 100%; height: 1em; background: #fff; margin: 0 auto;">

<div class="user-submission">
  <p>Submit a Merchant</p>
  <p>If you know a merchant that accepts bitcoins, please share with us!</p>

  <%= simple_form_for @user_submission do |f| %>
  
  <div class="main-field-box">

    <div class="span6 info-fields">
      <%= f.input :username, :placeholder => "Your Name" %>
      <%= f.input :merchant_name, :placeholder => "Merchant Name" %>
      <%= f.input :merchant_website, :placeholder => "Merchant Website" %>
    </div>

    <div class="span5 comment-box">
      <%= f.input :comment, :placeholder => "Please share your some comments about this merchant." %>
      <%= f.button :submit, "Submit merchant" %>
    </div>

  </div>      
  <% end %>
</div>