<div class="row">
  <div class="span9 search">
    <h4>Discover Bitcoin Merchants</h4>
    <%= form_tag map_path, :method => 'post' do %>
      <%= text_field_tag :category, nil, :placeholder => "Search by category (e.g. restaurants, shopping, games)" %> <br />
      <%= text_field_tag :zip_code, nil, :placeholder => "Include your zip code to narrow results to your area" %> <br />
      <%= button_tag "Search", :name => "submit_search", :class => "btn btn-primary" %>
      <%= button_tag "Map of Merchants Near Me", :name => "merchant_map", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>