<div class="network">
  <h2><%= current_user.name %>'s network</h2>
  <div class="row">
    <div class="span12 follows">
      <h4>Accounts you are following: </h4>
    </div>   
    <div class="span5">
      <h4>Merchants</h4>
      <% @user.user_merchant_friendships.each do |user_merchant_friendship| %>
        <div class="row">
          <div class="span5 recent-merchants-dashboard">
            <%= user_merchant_friendship.merchant.bname %>
            (<%= link_to "remove friend", user_merchant_friendship, :method => :delete %>)

            <div class="each-merchant">
              <div class="row">
                <div class="span1">
                  <%= link_to image_tag(user_merchant_friendship.merchant.avatar.url), user_merchant_friendship.merchant %>
                </div>

                <div class="span1 bname">
                  <h5><%= user_merchant_friendship.merchant.bname %></h5>
                  <p><%= user_merchant_friendship.merchant.industry %></p>
                </div>

                <div class="span2 address" >
                  <p><%= user_merchant_friendship.merchant.street_address %></p>
                  <p><%= user_merchant_friendship.merchant.city %>, <%= user_merchant_friendship.merchant.state %> <%= user_merchant_friendship.merchant.zip_code %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="span3 recent-users-dashboard">
      <h4>People</h4>
      <% @user.user_friendships.each do |user_friendship| %>
         <%= user_friendship.user_friend.name %>
        (<%= link_to "remove friend", user_friendship, :method => :delete %>)
        <div class="each-member">
          <div class="row">
            <div class="span1">
              <%= link_to image_tag(user_friendship.user.avatar.url), user_friendship.user %>
            </div>
            <div class="span1">
              <h5><%= user_friendship.user.name %></h5>
              <p>ZipCode: <%= user_friendship.user.zip_code %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span12 follows">
      <h4>Accounts following you: </h4>
    </div>
    <div class="span5">
      
      <h4>Merchants</h4>
      <% @merchant_followers.each do |merchant_user_friendship| %>
        <div class="row">
          <div class="span5 recent-merchants-dashboard">
            <%= merchant_user_friendship.merchant.bname %>

            <div class="each-merchant">
              <div class="row">
                <div class="span1">
                  <%= link_to image_tag(merchant_user_friendship.merchant.avatar.url), merchant_user_friendship.merchant %>
                </div>

                <div class="span1 bname">
                  <h5><%= merchant_user_friendship.merchant.bname %></h5>
                  <p><%= merchant_user_friendship.merchant.industry %></p>
                </div>

                <div class="span2 address" >
                  <p><%= merchant_user_friendship.merchant.street_address %></p>
                  <p><%= merchant_user_friendship.merchant.city %>, <%= merchant_user_friendship.merchant.state %> <%= merchant_user_friendship.merchant.zip_code %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="span3 recent-users-dashboard">
      <h4>People</h4>
      <% @user_followers.each do |user_friendship| %>
         <%= user_friendship.user.name %>
        <div class="each-member">
          <div class="row">
            <div class="span1">
              <%= link_to image_tag(user_friendship.user.avatar.url), user_friendship.user %>
            </div>
            <div class="span1">
              <h5><%= user_friendship.user.name %></h5>
              <p>ZipCode: <%= user_friendship.user.zip_code %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>    
  </div>
</div>

  