<div class="row" id="leftside-profile">
  <div class="span3">
    <h4><%= current_user.name %></h4>
  </div>

  <div class="span3">
    <%= button_to "edit profile", edit_user_registration_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "view profile", user_path(current_user) , :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "Inbox", "#", :method => :get, :class => "btn profile-btn"  %>
  </div>

  <div class="span3">
    <%= button_to "My network", "#", :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <p><%= current_user.bitcoin_address %></p>
  </div>

  <div class="span3">
    <p><%= current_user.zip_code %>
    <p>Twitter: <%= current_user.twitter %></p> 
    <p><%= current_user.phone %></p> 
    <p><%= current_user.company_affiliation %></p> 
    <p><%= current_user.industry %></p> 
    <p><%= current_user.job_title %></p>
  </div>
</div>  
