<div class="row" id="leftside-profile">
  <div class="span3">
    <h4><%= current_merchant_profile.merchant.bname %></h4>
  </div>

  <div class="span3 avatar-image-profile">
    <% if current_merchant_profile.avatar.url.present? %>
      <%= image_tag current_merchant_profile.avatar.url %>
    <% else %>
      <%= image_tag current_merchant_profile.merchant.avatar.url %>
    <% end %>
  </div>

  <div class="span3">
    <%= button_to "edit profile", edit_merchant_profile_registration_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "view profile", merchant_path(current_merchant_profile.merchant) , :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "Inbox", conversations_path, :method => :get, :class => "btn profile-btn"  %>
  </div>

  <div class="span3">
    <%= button_to "My network (#{@number_of_friendships})", network_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div>
    <img id="bitcoin-id"src="" alt="">
  </div>

  <div class="span3">
    <% if current_merchant_profile.city.present? %>
        <p><%= current_merchant_profile.city %>, <%= current_merchant_profile.state %> </p>
    <% end %>

    <% if current_merchant_profile.twitter.present? %>
      <a href="https://twitter.com/aaa" class="twitter-follow-button" data-show-count="false" data-size="large"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <% end %>
    <p><%= current_merchant_profile.phone %></p> 
    <p><%= current_merchant_profile.company_affiliation %></p> 
    <p><%= current_merchant_profile.industry %></p> 
  </div>
</div>  

<script>
  window.onload = bitcoinCode(gon.current_user.bitcoin_address);
</script>
