<div class="row" id="leftside-profile">
  <div class="span3">
    <h4><%= current_merchant.bname %></h4>
  </div>

  <div class="span3">
    <%= image_tag current_merchant.avatar.url %>
  </div>

  <div class="span3">
    <%= button_to "edit profile", edit_merchant_registration_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "view profile", merchant_path(current_merchant) , :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "Inbox", "#", :method => :get, :class => "btn profile-btn"  %>
  </div>

  <div class="span3">
    <%= button_to "My network", network_path, :method => :get, :class => "btn profile-btn" %>
  </div>
  
  <div>
    <img src="https://chart.googleapis.com/chart?chs=200x200&amp;cht=qr&amp;chl=Hello%20world&amp;choe=UTF-8&amp;chld=" alt="QR code"> 
    <!--
    <style type="text/css">
      table {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
      }
      td {
        border-width: 0; 
        border-style: none;
        border-color: #0000ff; 
        border-collapse: collapse; 
        padding: 0; 
        margin: 0; 
        width: 10px; 
        height: 10px; 
      }
      td.black { background-color: #000; }
      td.white { background-color: #fff; }
    </style>

    <table>
     @qrcode.modules.each_index do |x| %>
      <tr>  
       @qrcode.modules.each_index do |y| %>
        if @qrcode.dark?(x,y) %>
        <td class="black"/>
        else %>
        <td class="white"/>
        end %>
       end %>
      </tr>
     end %>
    </table>
      </div>
    -->
  </div>

  <div class="span3">
    <p><%= current_merchant.city %>, <%= current_merchant.state %> </p>
    <p>Twitter: <%= current_merchant.twitter %></p> 
    <p><%= current_merchant.phone %></p> 
    <p><%= current_merchant.company_affiliation %></p> 
    <p><%= current_merchant.industry %></p> 
  </div>
</div>  
