<div class="row" id="leftside-profile">
  <div class="span3">
    <h4><%= current_merchant_profile.merchant.bname %></h4>
  </div>

  <div class="span3">
    <%= image_tag current_merchant_profile.merchant.avatar.url %>
  </div>

  <div class="span3">
    <%= button_to "edit profile", edit_merchant_registration_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "view profile", merchant_path(current_merchant_profile) , :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "Inbox", "#", :method => :get, :class => "btn profile-btn"  %>
  </div>

  <div class="span3">
    <%= button_to "My network", network_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div>
    <img id="bitcoin-id"src="" alt="">
  </div>

  <div class="span3">
    <p><%= current_merchant_profile.merchant.city %>, <%= current_merchant_profile.merchant.state %> </p>
    <p>Twitter: <%= current_merchant_profile.merchant.twitter %></p> 
    <p><%= current_merchant_profile.merchant.phone %></p> 
    <p><%= current_merchant_profile.merchant.company_affiliation %></p> 
    <p><%= current_merchant_profile.merchant.industry %></p> 
  </div>
</div>  

<script>
  window.onload = bitcoinCode(gon.current_user.bitcoin_address);
</script>
