<div class="row" id="leftside-profile">
  <div class="span3">
    <h4><%= current_merchant.bname %></h4>
  </div>

  <div class="span3">
    <%= button_to "edit profile", edit_merchant_registration_path, :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "view profile", merchant_path(current_merchant) , :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <%= button_to "Inbox", "#", :method => :get, :class => "btn profile-btn"  %>
  </div>

  <div class="span3">
    <%= button_to "My network", "#", :method => :get, :class => "btn profile-btn" %>
  </div>

  <div class="span3">
    <p><%= current_merchant.bitcoin_address %></p>
  </div>

  <div class="span3">
    <p><%= current_merchant.city %>, <%= current_merchant.state %> </p>
    <p>Twitter: <%= current_merchant.twitter %></p> 
    <p><%= current_merchant.phone %></p> 
    <p><%= current_merchant.company_affiliation %></p> 
    <p><%= current_merchant.industry %></p> 
  </div>
</div>  
