<div class="network">
  <h2><%= current_merchant_profile.merchant.bname %>'s network</h2>

  <div class="row">
    <div class="span12 follows">
      <h4>Accounts you are following: </h4>
      <p><%= button_to "Back to Dashboard", root_path %></p>
    </div>     

    <div class="span5">
      <h4>Merchants</h4>
      
      <% @user.merchant_friendships.each do |merchant_friendship| %>
      <div class="row">
        <div class="span5 recent-merchants-dashboard">
        <p style="margin-left:30px; margin-bottom: 0;"><%= merchant_friendship.merchant_friend.bname %></p>
        <p style="margin-left:30px; margin-bottom: 0;">(<%= link_to "remove friend", merchant_friendship, :method => :delete %>)</>

          <div class="each-merchant " style="margin-left:30px; margin-bottom: 0;">
            <div class="row">
              <div class="span1">
                <% if merchant_friendship.merchant_friend.merchant_profile && merchant_friendship.merchant_friend.merchant_profile.approved %>
                  <%= link_to image_tag(merchant_friendship.merchant_friend.merchant_profile.avatar.url), merchant_friendship.merchant_friend %>
                <% else %>
                  <%= link_to image_tag(merchant_friendship.merchant_friend.avatar.url), merchant_friendship.merchant_friend %>
                <% end %>
              </div>

              <div class="span1 bname">
                <h5><%= link_to merchant_friendship.merchant_friend.bname, merchant_friendship.merchant_friend %></h5>
                <p><%= merchant_friendship.merchant_friend.industry %></p>
              </div>

              <div class="span2 address" >
                <% if merchant_friendship.merchant_friend.street_address %>
                  <p><%= merchant_friendship.merchant_friend.street_address %></p>
                  <p><%= merchant_friendship.merchant_friend.city %>, <%= merchant_friendship.merchant_friend.state %> <%= merchant_friendship.merchant_friend.zip_code %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class="span3 recent-users-dashboard">
      <h4>People</h4>
      <% @user.merchant_user_friendships.each do |merchant_user_friendship| %>
         <%= merchant_user_friendship.user.name %>
        (<%= link_to "remove friend", merchant_user_friendship, :method => :delete %>)
        <div class="each-member">
          <div class="row">
            <div class="span1">
              <%= link_to image_tag(merchant_user_friendship.user.avatar.url), merchant_user_friendship.user %>
            </div>
            <div class="span1">
              <h5><%= link_to merchant_user_friendship.user.name, merchant_user_friendship.user %></h5>
              <% if merchant_user_friendship.user.zip_code %>
              <p>ZipCode: <%= merchant_user_friendship.user.zip_code %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span12 follows">
      <h4>Accounts following you: </h4>
    </div>   
    <div class="span5">
      <h4>Merchants</h4>
      
      <% @merchant_followers.each do |merchant_friendship| %>
      <div class="row">
        <div class="span5 recent-merchants-dashboard">
        <p style="margin-left:30px; margin-bottom: 0;"><%= merchant_friendship.merchant.bname %></p>

        <div class="each-merchant" style="margin-left:30px; margin-bottom: 0;">
          <div class="row">
            <div class="span1">
              <% if merchant_friendship.merchant.merchant_profile && merchant_friendship.merchant.merchant_profile.approved %>
                <%= link_to image_tag(merchant_friendship.merchant.merchant_profile.avatar.url), merchant_friendship.merchant%>
              <% else %>
                <%= link_to image_tag(merchant_friendship.merchant.avatar.url), merchant_friendship.merchant%>
              <% end %>
            </div>

            <div class="span1 bname">
              <h5><%= link_to merchant_friendship.merchant.bname, merchant_friendship.merchant %></h5>
              <p><%= merchant_friendship.merchant.industry %></p>
            </div>

            <div class="span2 address" >
              <% if merchant_friendship.merchant.street_address %>
                <p><%= merchant_friendship.merchant.street_address %></p>
                <p><%= merchant_friendship.merchant.city %>, <%= merchant_friendship.merchant.state %> <%= merchant_friendship.merchant_friend.zip_code %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="span3 recent-users-dashboard">
    <h4>People</h4>
    <% @user_followers.each do |merchant_user_friendship| %>
      <%= merchant_user_friendship.user.name %>
      <div class="each-member">
        <div class="row">
          <div class="span1">
            <%= link_to image_tag(merchant_user_friendship.user.avatar.url), merchant_user_friendship.user %>
          </div>
          <div class="span1">
            <h5><%= link_to merchant_user_friendship.user.name, merchant_user_friendship.user %></h5>
            <% if merchant_user_friendship.user.zip_code  %>
              <p>ZipCode: <%= merchant_user_friendship.user.zip_code %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>



</div>
<div>
  