<div class="span5 recent-merchants-dashboard" >
    <% @merchants.each do |merchant| %>
      <div class="each-merchant">
        <div class="row">
          <div class="span1">
            <%= image_tag(merchant.avatar.url) if merchant.avatar.url.present? %>
          </div>

          <div class="span1 bname">
            <h5><%= merchant.bname %></h5>
            <p><%= merchant.industry %></p>
          </div>

          <div class="span2 address" >
            <p><%= merchant.street_address %></p>
            <p><%= merchant.city %>, <%= merchant.state %> <%= merchant.zip_code %></p>
          </div>
        </div>

      </div>
    <% end %>
</div>








      