<div class="span5 recent-merchants-dashboard" >
    <% @merchants.each do |merchant| %>
      <div class="each-merchant">
        <div class="row">
          <div class="span1">
            <% if merchant.avatar.url.present? %>
              <%= link_to image_tag(merchant.avatar.url), merchant_path(merchant) %>
            <% end %>
          </div>

          <div class="span1 bname">
            <h5><%= link_to merchant.bname, merchant_path(merchant) %></h5>
            <p><%= merchant.industry %></p>
          </div>

          <div class="span2 address" >
            <p><%= merchant.street_address %></p>
            <p><%= merchant.city %>, <%= merchant.state %> <%= merchant.zip_code %></p>
            <% if current_merchant_profile.present? %>
              <% if current_merchant_profile.merchant.merchant_friendships.include?(MerchantFriendship.where(:merchant_id => current_merchant_profile.merchant.id, :merchant_friend_id => merchant.id).first) %>
                <b><i>Already Added!</i></b>
              <% else %>
                <%= link_to "Add to Network", merchant_friendships_path(:merchant_friend_id => merchant), :method => :post %>
              <% end %>
            <% elsif current_user.present? %>
              <% if current_user.user_merchant_friendships.include?(UserMerchantFriendship.where(:merchant_id => merchant.id, :user_id => current_user.id).first) %>
                <b><i>Already Added!</i></b>
              <% else %>
                <%= link_to "Add to Network", user_merchant_friendships_path(:merchant_id => merchant), :method => :post %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>