<div class="span5 recent-merchants-dashboard" >
    <% @merchants.each do |merchant| %>
      <div class="each-merchant">
        <div class="row">
          <div class="span1">
            <%= image_tag(merchant.avatar.url) if merchant.avatar.url.present? %>
          </div>

          <div class="span1 bname">
            <h5><%= merchant.bname %></h5>
            <p><%= merchant.industry %></p>
          </div>

          <div class="span2 address" >
            <p><%= merchant.street_address %></p>
            <p><%= merchant.city %>, <%= merchant.state %> <%= merchant.zip_code %></p>
            <% if current_merchant.present? %>
              <% if current_merchant.merchant_friendships.include?(MerchantFriendship.find_by_merchant_friend_id(merchant.id)) %>
                <b><i>Already Added!</i></b>
              <% else %>
                <%= link_to "Add to Network", merchant_friendships_path(:merchant_friend_id => merchant), :method => :post, :remote => true %>
              <% end %>
            <% elsif current_user.present? %>
              <% if current_user.user_merchant_friendships.include?(UserMerchantFriendship.find_by_merchant_id(merchant.id)) %>
                <b><i>Already Added!</i></b>
              <% else %>
                <%= link_to "Add to Network", user_merchant_friendships_path(:merchant_id => merchant), :method => :post, :remote => true %>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
</div>