<div class="network">
  <h2><%= current_merchant_profile.merchant.bname %>'s network</h2>

  <div class="row">
    <div class="span5">
      <h4>Merchants</h4>
      
      <% @user.merchant_friendships.each do |merchant_friendship| %>
      <div class="row">
        <div class="span5 recent-merchants-dashboard">
        <% merchant_friendship %>
        <%= merchant_friendship.merchant_friend.bname %>
        (<%= link_to "remove friend", merchant_friendship, :method => :delete %>)

        <div class="each-merchant">
          <div class="row">
            <div class="span1">
              <%= image_tag(merchant_friendship.merchant_friend.avatar.url) if merchant_friendship.merchant_friend.avatar.url.present? %>
            </div>

            <div class="span1 bname">
              <h5><%= merchant_friendship.merchant_friend.bname %></h5>
              <p><%= merchant_friendship.merchant_friend.industry %></p>
            </div>

            <div class="span2 address" >
              <p><%= merchant_friendship.merchant_friend.street_address %></p>
              <p><%= merchant_friendship.merchant_friend.city %>, <%= merchant_friendship.merchant_friend.state %> <%= merchant_friendship.merchant_friend.zip_code %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="span3 recent-users-dashboard">
    <h4>People</h4>
    <% @user.merchant_user_friendships.each do |merchant_user_friendship| %>
         <%= merchant_user_friendship.user.name %>
        (<%= link_to "remove friend", merchant_user_friendship, :method => :delete %>)
      <div class="each-member">
        <div class="row">
          <div class="span1">
            <%= image_tag(merchant_user_friendship.user.avatar.url) if merchant_user_friendship.user.avatar.url.present? %>
          </div>
          <div class="span1">
            <h5><%= merchant_user_friendship.user.name %></h5>
            <p>ZipCode: <%= merchant_user_friendship.user.zip_code %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  