<div class="span4 nearby-merchants">
  <h4>Nearby Merchants</h4>
  <% counter = 1 %>
  <% @merchants.each do |merchant| %>
    <div class="each-merchant">
      <div class="row">

        <div class="span0 overlay">
         <h5 id="map-number"><%= counter %></h5>
        </div>

        <div class="span0 bname">
          <h5><%= link_to merchant.bname, merchant_path(merchant) %></h5>
          <p><%= merchant.industry %></p>
        </div>

        <div class="span0 address">
          <p><%= merchant.street_address %></p>
          <p><%= merchant.city %>, <%= merchant.state %> <%= merchant.zip_code %></p>
        </div>

      </div>
    </div>
    <% counter += 1 %>
  <% end %>
</div>