<div class="span3 recent-users-dashboard">
  <% @new_members.each do |member| %>
    <div class="each-member">
      <div class="row">
        <div class="span0">
          <% if member.avatar.url.present? %>
            <%= link_to image_tag(member.avatar.url), user_path(member)  %>
          <% end %>
        </div>
        <div class="span1">
          <h5><%= link_to member.name, user_path(member) %></h5>
          <% if member.zip_code.present? %>
              <p>ZipCode: <%= member.zip_code %></p>
          <% end %>
        </div>

        <div class="span1">
          <% if current_merchant_profile.present? %>
            <% if current_merchant_profile.merchant.merchant_user_friendships.include?(MerchantUserFriendship.where(:merchant_id => current_merchant_profile.merchant.id, :user_id => member.id).first) %>
              <b><i>Already Added!</i></b>
            <% else %>
              <%= link_to "Add to Network", merchant_user_friendships_path(:merchant_id => current_merchant_profile.merchant.id, :user_id => member.id), :method => :post %>

            <% end %>
          <% elsif current_user.present? %>
            <% if current_user.user_friendships.include?(UserFriendship.where(:user_id => current_user.id, :user_friend_id => member.id).first) %>
              <b><i>Already Added!</i></b>
            <% elsif current_user == member %>
              <b><i>Current User</i></b>
            <% else %>
              <%= link_to "Add to Network", user_friendships_path(:user_id => current_user.id, :user_friend_id => member), :method => :post %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>






