<%= render "layouts/logo.html.erb" %>

<div class="row">
  <div class="span2 offset1 profile">
    <% if current_merchant_profile.present? %>
      <%= render "leftside_profile_merchant" %>
    <% elsif current_user.present? %>
      <%= render "leftside_profile_user" %>
    <% else %>
      <%= render "leftside_profile_unregistered" %>
    <% end %>
  </div>

  <% if flash[:alert] %>
    <div class="notice span9">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="span9">
    <div class="row">
      <div class="span4">
        <%= render "discover_merchants" %>
      </div>

      <div class="span4">

        <%= render "discover_users" %>
        
      </div>

    </div>

    <div class="row">
      <div class="span4">
        <h4>Recent Bitcoin merchants</h4>
        <%= will_paginate @merchants, :param_name => :merchant_page %>
        <%= render "merchant_list" %>
      </div>

      <div class="span4">
        <h4>New Bit Pages Members</h4>
        <%= will_paginate @new_members, :param_name => :user_page %>
        <%= render "recent_members" %>
      </div>
    </div>
    
    
      <div class="span6">
      </div>

    
    </div>
  </div>

</div>
 

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thank you for registering!</h4>
      </div>
      <div class="modal-body" id="incomplete-profile">
        <p>Some of your profile information has not yet been completed. Please take the time to complete your profile so we can offer you a better experience.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  
if(gon.current_user.newly_registered) {
  $("#myModal").modal();
}

</script>