<h1>Bit Pages Logo (dashboard)</h1>
<hr style="width: 100%; height: 1em; background: #fff; margin: 0 auto;">

<div class="row">
  
  <div class="span3">
    <% if current_merchant.present? %>
      <%= render "leftside_profile_merchant" %>
    <% else %>
      <%= render "leftside_profile_user" %>
    <% end %>
  </div>

  <div class="span9">

    <%= render "discover_merchants" %>
    
    <div class="row">
      <div class="span6">
        <div class="row">
          <h4>Recent Bitcoin merchants listed on The Bit Pages</h4>
          <%= render "merchant_list" %>
        </div>
      </div>
    
      <%= render "recent_members" %>
    </div>
  </div>

</div>