<%= render "layouts/logo.html.erb" %>

<div class="row">
  <div class="span2 offset1 profile">
    <% if current_merchant_profile.present? %>
      <%= render "leftside_profile_merchant" %>
    <% elsif current_user.present? %>
      <%= render "leftside_profile_user" %>
    <% else %>
      <%= render "leftside_profile_unregistered" %>
    <% end %>
  </div>

  <% if flash[:alert] %>
    <div class="notice span9">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="span9">

    <%= render "discover_merchants" %>


    
    <div class="row">
      <div class="span6">
        <h4>Recent Bitcoin merchants listed on The Bit Pages</h4>
        <div class="row">
          <%= render "merchant_list" %>
        </div>
      </div>
    
      <%= render "recent_members" %>
    </div>
  </div>

</div>