<h1>Bit Pages Logo (dashboard)</h1>
<hr style="width: 100%; height: 1em; background: #fff; margin: 0 auto;">

<div class="row">

  <div class="span2 offset1 profile">
    <% if current_merchant.present? %>
      <%= render "leftside_profile_merchant" %>
    <% elsif current_user.present? %>
      <%= render "leftside_profile_user" %>
    <% else %>
      <%= render "leftside_profile_unregistered" %>
    <% end %>
  </div>

  <div class="span9">
    <div class="row">
      <div class="span9 search">
        <h4>Merchant Map</h4>
      </div>

      <div class="span6">
        <div class="google-map-box" id="merchant-google-map"></div>
      </div>

      <div class="span3">
        <div class="row">
          <%= render "nearby_merchants" %>
        </div>
      </div>

      <div class="span4">
        <%= form_tag map_path, :method => 'post' do %>
          <%= hidden_field_tag :category, @industry, :placeholder => "Search by category (e.g. restaurants, shopping, games)" %> <br />
          <%= text_field_tag :zip_code, nil, :placeholder => "Enter new zip code to update map" %>
          <%= button_tag "Update Map", :name => "merchant_map", :class => "btn btn-primary" %>
          
        <% end %>
      </div>
    </div>
  </div>
  
</div>

<script>
  $(window).load(function() {
    loadScript();
  })
</script>

