<h1>Bit Pages Logo (dashboard)</h1>
<hr style="width: 100%; height: 1em; background: #fff; margin: 0 auto;">

<div class="row">

  <div class="span3">
    <% if current_merchant.present? %>
      <%= render "leftside_profile_merchant" %>
    <% else %>
      <%= render "leftside_profile_user" %>
    <% end %>
  </div>

  <div class="span9">
    <div class="row">
      <div class="span9 search">
        <h4>Merchant Map</h4>
      </div>

      <div class="span6">
        <div class="google-map-box" id="merchant-google-map"></div>
      </div>

      <div class="span3">
        <h4>Nearby Merchants</h4>

        <div class="row">
          <% @merchant_array.each do |merchant| %>
            <div class="span4" style="border: 1px solid black">
                <b><%= merchant.bname %></b> <br />
                <%= merchant.industry %> <br />  
              
                <%= merchant.street_address %> <br />
                <%= merchant.city %>, <%= merchant.state %> <%= merchant.zip_code %>

            </div>
          <% end %>    
        </div>
      </div>

      <div class="span4">
        <input type="text" id="new-zip-code" placeholder="Enter new zip code to update map">
        <button id="new-zip-code-button">Update map</button>
      </div>
    </div>
  </div>
  
</div>

<script>
  $(window).load(function() {
    loadScript();
  })
</script>

