<div>
  <%= f.label :bname %><br />
  <%= f.text_field :bname, :placeholder => "Business Name", :autofocus => true %>
</div>

<div>
  <%= f.label :name %><br />
  <%= f.text_field :name, :placeholder => "Full Name", :autofocus => true %>
</div>

<div>
  <%= f.label :email %><br />
  <%= f.email_field :email, :placeholder => "Email" %>
</div>

<div>
  <%= f.label :password %><br />
  <%= f.password_field :password, :placeholder => "Password" %>
</div>

<div>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
</div>
