<div class="create-account">
  <div>
    <%= f.text_field :name, :placeholder => "Full Name", :autofocus => true %>
  </div>

  <div>
    <% if @merchant.present? %>
      <%= f.text_field :name, :autofocus => true %>
      <%= f.text_field :bname, :value => @merchant.bname %>
      <%= f.hidden_field :merchant_id, :value => @merchant.id %>
    <% else %>
      <%= f.text_field :bname, :placeholder => "Business Name", :autofocus => true %>
    <% end %>
  </div>

  <div>
    <%= f.email_field :email, :placeholder => "Email" %>
  </div>

  <div>
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <div>   
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  </div>

</div>
