<div class="create-account">
  <div>
    <%= f.text_field :bname, :placeholder => "Business Name", :autofocus => true %>
  </div>

  <div>
    <%= f.text_field :name, :placeholder => "Full Name", :autofocus => true %>
  </div>

  <div>
    <%= f.email_field :email, :placeholder => "Email" %>
  </div>

  <div>
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>

  <div>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  </div>

</div>
