<h1>BIT PAGES LOGO</h1>
<!-- div.user-sign-up -->
<h2>Create a free account</h2>
<p>to connect with other Bitcoiners and discover merchants who will accept your Bitcoins</p>
<!-- CHANGE to merchant sign-up with devise -->
<%= link_to "Sign up as a merchant instead", new_user_registration_path %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :placeholder => "Email", :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :placeholder => "Password" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
