<%= render "layouts/logo.html.erb" %>

<div class="row">
  <div class="span2 offset1 profile">
    <% if current_merchant_profile.present? %>
      <%= render "dashboard/leftside_profile_merchant" %>
    <% elsif current_user.present? %>
      <%= render "dashboard/leftside_profile_user" %>
    <% end %>
  </div>

  <div class="span9">
    <!-- < button_to "Send a Message", new_conversation_path, :class => "btn btn-primary", :method => "get" %> -->
  </div>

  <div class="span9">
    <div class="row">
      
      <div class="span9" id="messaging-inbox">
        <h4>Inbox</h4>
          <%= render mailbox.inbox %>
      </div>
      
      <div class="span9" id="messaging-sentbox">
        <h4>Sentbox</h4>
          <%= render mailbox.sentbox %>
      </div>

    </div>
  </div>

</div>