<div class="row">
  <div class="span5">
    <div class="row profile">
      <div class="offset1 span4">
        <h4><%= @user.name %></h4>
        <%= image_tag(@user.avatar.url) %>
        <img id="bitcoin-id" src="" alt="QR code"><img>
      </div>
  
      <div class="offset1 span5">
        <% if @user.verified? %>
          <%= image_tag "bitpages_verified.png" %>
        <% end %>
      </div>

      <div class="offset1 span5">
        <p><%= @user.industry %></p>
      </div>

      <div class="offset1 span5">
        <p><%= @user.zip_code %></p>
        <p><%= @user.email %></p>
        <% if @user.twitter.present?%>
          <a href="https://twitter.com/<%= @user.twitter %>" class="twitter-follow-button" data-show-count="false">Follow <%= @user.twitter %></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <% end %>
        <p><%= @user.phone %></p>
        <p>Network count: <%= @number_of_friendships %></p>
      </div>
    </div>  
  </div>

  <div class="span7">
    <div class="row">
      <div class="span3">
        <button>Add to network</button>
      </div>

      <div class="span3 offset1">
        <%= link_to "Send Message", :controller => "conversations", :action => "new", :email => @user.email%>
      </div>
    </div>

    <p><%= @user.bio %></p>


  </div>
</div>

<script>
  window.onload = bitcoinCode(gon.user.bitcoin_address);
</script>