<div class="row">
  <div class="span5">
    <div class="row profile">
      <div class="offset1 span4">
        <h4><%= @user.name %></h4>
        <%= image_tag(@user.avatar.url) %>
        <img id="bitcoin-id" src="" alt="QR code"><img>
      </div>

      <div class="offset1 span5">
        <p><%= @user.industry %></p>
      </div>

      <div class="offset1 span5">
        <p><%= @user.zip_code %></p>
        <p><%= @user.email %></p>
        <p>Twitter: <%= @user.twitter %></p>
        <p><%= @user.phone %></p>
        <p>Network count: <%= @number_of_friendships %></p>
      </div>
    </div>  
  </div>

  <div class="span7">
    <div class="row">
      <div class="span3">
        <button>Add to network</button>
      </div>

      <div class="span3 offset1">
        <button>Send a message</button>
      </div>
    </div>

    <p><%= @user.bio %></p>


  </div>
</div>

<script>
  window.onload = bitcoinCode(gon.user.bitcoin_address);
</script>