<div class="row" style="border: 1px solid black; padding: 20px;" >

<!-- !!!!!!!! -->
<!-- Left box -->
<!-- !!!!!!!! -->
  <div class="span6">
    <div class="row">
      
      <header class="span6">
        <!-- image_tag "fallback/default.png" -->
        <h2>BIT PAGES LOGO</h2>
        <p>Bringing the Bitcoin world together for the first time</p>
      </header>
      
      <div class="span3">
        <h3>MERCHANTS</h3>
        <p>Do you accept Bitcoins as payment for goods / services? Claim your page today so that customers who want to buy with Bitcoins can find you!</p>
      </div>

      <div class="span3">
        <h3>INDIVIDUALS</h3>
        <p>Do you use Bitcoins and need help finding merchants that accept them? Sign up today to find out who accepts Bitcoins and to connect with other Bitcoin aficionados!</p>
      </div>

<!-- User registration and login buttons below -->
      <div class="span3 sign-in-button">
        <%= button_to "Claim Your Page", new_merchant_registration_path, :method => :get, :class => "btn btn-warning", :html_options => {} %>
      </div>

      <div class="span3 sign-in-button">
        <%= button_to "Sign up", new_user_registration_path, :method => :get, :class => "btn btn-warning" %>
      </div>

      <div class="span6 home-login">
        <p>Already a member?</p>
        <p><%= link_to "Merchant Log In", merchant_session_path, :method => :get %></p>
        <p><%= link_to "Individual Log In", user_session_path, :method => :get %></p>
      </div>
        
    </div>
  </div>


<!-- !!!!!!!! -->
<!-- Right box -->
<!-- !!!!!!!! -->
  <div class="span6">
    <div class="row">
      <div class="span6" id="right-box" > 
        <h4>Discover Bitcoin Merchants</h4>
        <%= form_tag map_path, :method => 'post' do %>
          <%= text_field_tag :category, nil, :placeholder => "Search by category (e.g. restaurants, shopping, games)" %> <br />
          <%= text_field_tag :zip_code, nil, :placeholder => "Include your zip code to narrow results to your area" %> <br />
          <%= button_tag "Search", :name => "submit_search", :class => "sign-in-button btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <!-- !!!!!!! -->
    <!-- Add Google map here -->
    <!-- !!!!!!! -->
    <div class="google-map-box" id="merchant-google-map">
      
    </div>
  </div>  
</div>

<div class="row merchants-list">
  <div class="span12">
    <h3>Merchants recently listed on Bit Pages</h3>
    <div class="row">
      <% @recent_merchants.each do |merchant| %>

        <div class="span3 recent-merchants">
          <div class="row">
            <div class="span1">
              <%= image_tag(merchant.avatar.url) if merchant.avatar.url.present? %>
            </div>
            <div class="span1" id="title">
              <p>
                <%= merchant.bname %> <br />
                <%= merchant.industry %> 
              </p>
            </div>
            <div class="span1" id="address">
              <p>
                <%= merchant.street_address %> <br />
                <%= merchant.city %>, <%= merchant.state %> <%= merchant.zip_code %>
              </p>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = loadScript;
</script>
