<div class="row">
  <div class="span5">
    <div class="row profile">
      <div class="offset1 span4">
        <p>(Verified Status*****)</p>
        <h4><%= @merchant.bname %></h4>
        <%= image_tag(@merchant.avatar.url) %>
        <img src="https://chart.googleapis.com/chart?chs=200x200&amp;cht=qr&amp;chl=Hello%20world&amp;choe=UTF-8" alt="QR code">
      </div>

      <div class="offset1 span5">
        <p><%= @merchant.industry %></p>
      </div>

      <div class="offset1 span5">
        <p><%= @merchant.street_address %></p>
        <p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip_code %></p>
        <p><%= @merchant.company_website %></p>
        <p><%= @merchant.twitter %></p>
        <p><%= @merchant.phone %></p><br><br><br>
        

      </div>
    </div>  
  </div>

  <div class="span7">
    <div class="row">
      <div class="span3">
        <button>Add to network</button>
      </div>

      <div class="span3 offset1">
        <button>Send a message</button>
      </div>
    </div>

    <p><%= @merchant.bio %></p>

    <!-- Google Maps -->
    <div id="merchant-google-map" class="google-map-box">
      
    </div>
  </div>
</div>

<!-- Load Google Maps Below -->
<script>
  $(window).load(function() {
    loadScript();
  })
</script>
