<div class="row">
  <div class="span5">
    <div class="row profile">
      <div class="offset1 span4">

        <h4><%= @merchant.bname %></h4>
        <%= image_tag(@merchant.avatar.url) %>
        <img id="bitcoin-id" src="" alt="QR code"><img>
      </div>

      <div class="offset1 span5">
        <p><%= @merchant.industry %></p>
      </div>

      <div class="offset1 span5">
        <p><%= @merchant.street_address %></p>
        <p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip_code %></p>
        <p><%= @merchant.company_website %></p>
        <p><%= @merchant.twitter %></p>
        <p><%= @merchant.phone %></p><br><br><br>
        

      </div>
    </div>  
  </div>

  <div class="span7">
    <div class="row">
      <div class="claimed-merchant">

        <% if @merchant.merchant_profile.present? && @merchant.merchant_profile.approved %>
          <div class="span3">
          <% if current_merchant_profile.present? %>
            <% if current_merchant_profile.merchant.merchant_friendships.include?(MerchantFriendship.where(:merchant_friend_id => @merchant.id, :merchant_id => current_merchant_profile.merchant.id).first) %>
              <b><i>Already Added!</i></b>
            <% else %>
              <%= button_to "Add to Network", merchant_friendships_path(:merchant_friend_id => @merchant), :method => :post %>
            <% end %>
          <% elsif current_user.present? %>
            <% if current_user.user_merchant_friendships.include?(UserMerchantFriendship.where(:merchant_id => @merchant.id, :user_id => current_user.id).first) %>
              <b><i>Already Added!</i></b>
            <% else %>
              <%= button_to "Add to Network", user_merchant_friendships_path(:merchant_id => @merchant.id), :method => :post %>
            <% end %>
          <% end %>
          
          <p><%= @merchant.bio %></p>
          </div>
          <div class="span3 offset1">
            <button>Send a message</button>
          </div>

        <% elsif @merchant.merchant_profile.present? && @merchant.merchant_profile.approved==false %>
          <h4>This page is pending approval. If you are business owner, thank you for claiming your account. We will contact you soon!</h4>
          <p>In the meantime, you can log into your account and edit your merchant profile information</p>
          <%= link_to "Sign in", new_merchant_profile_session_path %>

        <% else %>
          <h3>Is this your business?</h3>
         
          <%= link_to "CLAIM THIS PAGE", new_merchant_profile_registration_path(:merchant => {
                :id => @merchant.id, 
                :bname => @merchant.bname, 
                :street_address => @merchant.street_address,
                :state => @merchant.state,
                :city => @merchant.city,
                :zip_code => @merchant.zip_code
              }) %>


          <p>Creating a Bit Pages account will allow you to add information about your business so that Bitcoin users can easily find you ... use their Bitcoins to pay for goods & services that you offer.</p>
        <% end %>
        
      </div>
      

    </div>


    <!-- Google Maps -->
    <div id="merchant-google-map" class="google-map-box">
      
    </div>
  </div>
</div>

<!-- Load Google Maps Below -->
<script>
  $(window).load(function() {
    bitcoinCode(gon.merchant.bitcoin_address);
    loadScript();
  })
</script>

