<div class="row">
  <div class="span5">
    <div class="row">
      <div class="span5">
        <p>(Verified Status*****)</p>
        <h4><%= current_merchant.bname %></h4>
        <%= image_tag(current_merchant.avatar.url) %>
        <img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=Hello%20world&amp;choe=UTF-8" alt="QR code">
      </div>

      <div class="span5">
        <p><%= current_merchant.industry %></p>
      </div>

      <div class="span5">
        <p><%= current_merchant.street_address %></p>
        <p><%= current_merchant.city %>, <%= current_merchant.state %> <%= current_merchant.zip_code %></p>
        <p><%= current_merchant.company_website %></p>
        <p><%= current_merchant.twitter %></p>
        <p><%= current_merchant.phone %></p>
        <p>VIEW MAP LINK HERE???</p>
      </div>
    </div>  
  </div>

  <div class="span7">
    <div class="row">
      <div class="span3">
        <button>Add to network</button>
      </div>

      <div class="span3 offset1">
        <button>Send a message</button>
      </div>
    </div>

    <p><%= current_merchant.bio %></p>

    <!-- Google Maps -->
    <div id="merchant-google-map" class="google-map-box">
      
    </div>
  </div>
</div>

<!-- Load Google Maps Below -->
<script>
  window.onload = loadScript;
</script>

