<!DOCTYPE html>
<html>
<head>
  <title>Bitpages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<hr style="width: 75%; height: 1em; background: #fff; margin: 0 auto;">
  <footer>
    <%= link_to "Help" %> |
    <%= link_to "Contact" %> |
    <%= link_to "About" %> <br>
    <p>handmade in nyc by Maki Fund</p>
  </footer>
</body>
</html>
