<!DOCTYPE html>
<html>
<head>
  <title>The Bitpages</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav">
    <% if current_merchant.class == Merchant %>
      <% if merchant_signed_in? %>
        Signed in as <%= current_merchant.email %>. Not you?
        <%= link_to "Sign out - Merchant", destroy_merchant_session_path, :method => "delete" %>
      <% else %>
        <%= link_to "Sign up", new_merchant_registration_path %> or
        <%= link_to "Sign in", new_merchant_session_path %>
      <% end %>
    <% elsif current_user.class == User %>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out - Individual", destroy_user_session_path, :method => "delete" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    <% elsif current_merchant_profile.class == MerchantProfile %>
      <% if merchant_profile_signed_in? %>
        Signed in as <%= current_merchant_profile.email %>. Not you?
        <%= link_to "Sign out - Merchant Profile", destroy_merchant_profile_session_path, :method => "delete" %>
      <% end %>
    <% end %>
  </div>
  
  <%= yield %>


  <footer>
    <hr style="width: 75%; height: 1em; background: #fff; margin: 0 auto;">
    <p>Need Help? Contact: <a href="mailto:ben@thebitpages.com">ben@thebitpages.com</a></p>
  </footer>


</body>
</html>
