<div class="row">
  <div class="span5">
    <div class="row profile">
      <div class="offset1 span4">
        
        <h4><%= @merchant.merchant_profile.bname %></h4>
        <%= image_tag(@merchant.merchant_profile.avatar.url) %>
        <img id="bitcoin-id" src="" alt="QR code"><img>
      </div>

      <div class="offset1 span5 bitpages-verified">
        <%= image_tag("bitpages_verified.png") %>
      </div>
        
      <div class="offset1 span5">
        <p><%= @merchant.merchant_profile.industry %></p>
      </div>

      <div class="offset1 span5">
        <% if @merchant.merchant_profile.city.present? %>
          <p><%= @merchant.merchant_profile.street_address %></p>
          <p><%= @merchant.merchant_profile.city %>, <%= @merchant.merchant_profile.state %> <%= @merchant.merchant_profile.zip_code %></p>
        <% end %>
        <p><%= @merchant.merchant_profile.company_website %></p>
        <% if @merchant.merchant_profile.twitter.present? %>
          <a href="https://twitter.com/<%= @merchant.merchant_profile.twitter %>" class="twitter-follow-button" data-show-count="false">Follow <%= @merchant.twitter %></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <% end %>
        <p><%= @merchant.merchant_profile.phone %></p>
        <p>Network count: <%= @number_of_friendships %></p>
        
      </div>
    </div>  
  </div>

  <div class="span7">
    <div class="row">
      <div class="claimed-merchant">
          <div class="span3">
          <% if current_merchant_profile.present? %>
            <% if current_merchant_profile.merchant.merchant_friendships.include?(MerchantFriendship.where(:merchant_friend_id => @merchant.id, :merchant_id => current_merchant_profile.merchant.id).first) %>
              <b><i>Already Added!</i></b>
            <% else %>
              <%= button_to "Add to Network", merchant_friendships_path(:merchant_friend_id => @merchant), :method => :post %>
            <% end %>
                      
          <% elsif current_user.present? %>
            <% if current_user.user_merchant_friendships.include?(UserMerchantFriendship.where(:merchant_id => @merchant.id, :user_id => current_user.id).first) %>
              <b><i>Already Added!</i></b>
            <% else %>
              <%= button_to "Add to Network", user_merchant_friendships_path(:merchant_id => @merchant.id), :method => :post %>
            <% end %>
          <% end %>
          
          </div>

          <div class="span3 offset1">
            <%= link_to "Send Message", :controller => "conversations", :action => "new", :merchant_id => @merchant.merchant_profile.id, :merchant_bname => @merchant.merchant_profile.bname %>
          </div>
      </div>
      <div class="span7">
        <p><%= @merchant.merchant_profile.bio %></p>
      </div>  
      

    </div>


    <!-- Google Maps -->
    <%= render "layouts/google_map.html.erb" %>
  </div>
</div>

<!-- Load Google Maps Below -->
<script>
  $(window).load(function() {
    bitcoinCode(gon.merchant.bitcoin_address);
    loadScript();
  })
</script>
